body {
    background-color: darkcyan;
}

.login{
    width: 50%;
    height: 300px;
    background-color: white;
    float: left;
    margin: 5% 22% 0 21%;
    border-radius: 15px;
    padding: 5%;
}

button {
    width: 100%;
    padding: 3px 11px;
    margin: 25% 0 0 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #226f79;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px #999;
  }
  
  button:hover {background-color: darkcyan}
  
  button:active {
    box-shadow: 0 1px 6px #666;
    transform: translateY(4px);
  }

input {
    width: 100%;
    margin: 10px 0;
}